
*{
    font-family: 'josefin_sanslight';
}
.main-menu{
    background-color:#444A59;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px #999;
    -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
}
ul li{
    list-style: none;
}
.icon-bar{
    background-color:#FFFFFF; 
}
.list-nav{
    padding: 10px 30px;
}
.main-menu button{
    background-color: black;   
}

.main-menu h2{
    margin: 0;
    font-size: 36px;
}

.main-menu ul li a span{
    line-height:30px;
    position: relative;
    display: inline-block;
    padding: 0px 14px;
    background:#A8ACB7;
    text-decoration: none;
    color: #444A59;
    font-weight: bold;
    transition: transform 0.3s ease 0s;
    transform-origin: 50% 0px 0px;
    transform-style: preserve-3d;
    }
.main-menu ul li a span:before{
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px 14px;
    background:  #2e3339;
    content: attr(data-title);
    transition: 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0px 0px;        
    }
.main-menu ul li a:hover span {
    transform: rotateX(90deg) translateY(-22px);
    }
.main-menu ul li a:hover span::before {
    background:  0% 0% #DCB977; 
    color:#EDE1B1;
    }
.hero-section{
    background: url(../images/pista.jpg)no-repeat;
    height: 560px;
    background-size: cover;
    box-shadow: 2px 2px 7px #0C0C0C;
    -webkit-box-shadow: 2px 2px 7px #0C0C0C;
  -moz-box-shadow: 2px 2px 7px #0C0C0C;   
}

.logo img{
    width: 100%;
}
.hero-section .container{
    text-align: center;
    display: table;
    height: 400px;
    padding-top: 200px;
}
.presentacion{
    text-align: center;
    color:#fcd68a;
    padding: 20px;
    width: 380px;
    background-color: rgba(0, 0, 0, 0.76);
    display:table-cell;
    vertical-align: middle;
    border-radius: 8px;
}
@media (max-width:600px){
    .presentacion{
        margin-left: 0;
        margin-right: 0;
        width: 300px;
    }
}
.presentacion h1{
    font-size: 45px;
    font-family: 'kaushan_scriptregular';
    color:#DCB977; 
    font-weight: 700;
   /* text-shadow: 3px 3px 5px #000,
               4px 4px 5px #2e3339,
               5px 5px 5px #e2e2ec;*/
}
.about{
    padding-left: 15px;
    padding-right: 15px;
}
h2{
    font-family: 'kaushan_scriptregular';
    text-align: center;
    color:#A8ACB7;
    font-weight: 700;
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
}
@media (max-width:600px){
    h2{
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
}

.about .parrafo{
    padding: 40px 90px 40px 70px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em; 
    font-size: 20px;
}
@media (max-width:768px){
    .about .parrafo{
        padding: 40px 10px 40px 10px;
    }
   .contenedor-img {
width: 100px !important;
height: 130px !important;   
}
    .habilidades i {
        font-size: 90px !important;
}
    .contenedor-habilidad{
    padding: 0px !important;
}
}
.item .row{
    padding: 20px;
}
.fotografia img{
    width: 180px;
    border-radius: 8px;
}
.foto{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 100px;
}
.fotografia{
    display: table;
   padding-left:50px; 
    height: 400px;
    background-color: #EEE;
    padding-bottom: 80px;
}

.portafolio{
    background-color:  #DADBDE;
    padding-bottom: 50px;
    padding-top: 20px;
        text-align: center;
}
.portafolio h3{
    font-size: 30px;
    font-weight: 700px;   
}
p{
    margin:0;
}
.contactame{
    background-color: #ccc;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
    color:#fff;
}
.contactame p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 1.5em; 
    font-size: 20px;
}
.contactame li>a{
    border-radius: 100%;
    font-size: 20px;
    width: 45px;
    height: 45px;
}
.contactame .btn-default{
    background-color: #000;
    color: #fff;
}
.contactame .btn-default:hover{
    background-color: #2e3339;
    color: #fff;
}
.btn-lin{
    background-color: #0177B5;
    color: #fff;
}
.btn-lin:hover{
    background-color:#3F567F;
    color: #fff;
}
.contactame ul{
    padding: 0;
}
.contactame li, .habilidades li{
    list-style: none;
    display: inline-block;
}
footer{
    background-color: #2e3339;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.habilidad img{
    width: 100%;
    height: 150px;
}
.arriba {
	width: 50px;
    height: 50px;
	background-color:#1777CB;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    z-index:10;
    border-radius: 100%;
     border: 1px solid #3F567F;
}
.arriba:hover{
    background-color: #3F567F;
    border: 1px solid #1777CB;
}
.habilidad{
    padding-bottom: 40px;
}

.habilidades i {
transition: all 0.2s linear;
        font-size: 122px;
}

.habilidades h3 {
transform: translateX(-200px);
opacity: 0;
transition: all 0.7s ease-in-out;
}
.habilidades p {
transform: translateX(200px);
opacity: 0;
transition: all 0.4s linear;
}

.habilidades:hover i {
transform: scale(1.1);
}
.habilidades:hover .mascara {
opacity: 1;
}
.habilidades:hover h3, .habilidades:hover p {
opacity: 1;
transform: translateX(0px); 
}
.habilidades:hover p {
transition-delay: 0.1s;
}
.contenedor-img {
width: 140px;
height: 150px;
overflow: hidden;
position: relative;
text-align: center;
cursor: default;
background: #fff;    
}
.contenedor-img .mascara{
width: 100%;
height: 100%;
position: absolute;
overflow: hidden;
top: 0;
left: 0;
opacity: 0;
background-color: rgba(68, 74, 89, 0.63);
transition: all 0.3s ease-in-out;
border-radius: 8px;
}
.contenedor-img i {
display: block;
position: relative;
 color:#444A59;
}
.contenedor-habilidad{
    padding: 40px 10%;
}
.btn{
padding: 7px 13px;
}
.contenedor-img h3 {
text-transform: uppercase;
color: #fff;
text-align: center;
position: relative;
font-size: 12px;
padding: 10px;
background: rgba(0, 0, 0, 0.9);
margin: 20px 0 0 0
}
.contenedor-img p {
font-size: 12px;
position: relative;
color: #fff;
padding: 10px 20px 10px;
text-align: center
}
 .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
        border-radius: 8px;
        border: 2px solid #fff;
    }

    .los {
opacity: 0;
background-color:  rgba(6, 6, 6, 0.64);
transition: all 0.3s ease-in-out;
width: 100%;
height: 100%;
position: absolute;
overflow: hidden;
top: 0;
left: 0
}
.boton-externo {
transform: translateX(-200px);
opacity: 0;
transition: all 0.7s ease-in-out;
 color: white;
 position:relative;
 left:2%;
 top:40%;
 }
 .los button{
    padding: 10px 20px;
    border: 1px solid white;
    background-color: #060A15;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}
.los button:hover{
    font-weight: bold;
     color: #fff;
}

.swiper-slide:hover .los{
opacity: 1;
}
.swiper-slide p{
margin-bottom: 20px;
}
.swiper-slide:hover .boton-externo{
opacity: 1;
transform: translateX(0px); 
transition-delay: 0.1s;
}
.modal-body{
    text-align: center;
}
hr,.ion-ios-flower-outline{
    display: inline-block;
    color: #A8ACB7;
    
}
hr{
    width: 120px;
    border-top: 2px solid #A8ACB7;
    border-bottom: 1px solid #fff;
    margin: 0 10px 10px 10px;
}
.ion-ios-flower-outline{
   font-size: 37px !important; 
}





